#header {
  background-color: rgba(40, 40, 40, 0.90);
  border-bottom: 18px solid #aaa;
  padding: .25em;
}
h1 {
  text-shadow: 1px 1px #ccc;
  padding: .25em 0 0 .25em;
  margin: 1rem 0 -2rem .25rem;
  /*margin-left: .25rem;*/
  line-height: 1.6em;
}
#header h5 {
  /*margin: 0 0 1rem auto;*/
  margin-left: 1.4rem;
  letter-spacing: .5px;
  margin-bottom: auto;
}
#header h6 {
  margin-left: 1.6rem;
  letter-spacing: .5px;
  line-height: 1.2em;
}
#emailHeader {
  color: black;
  font-weight: 600;
}
.logoSize {
  width: 85px;
}

#iconDiv h6 a {
  /*color: rgb(10, 95, 111);*/
  font-weight: 600;
}
#iconDiv h6 a:hover {
  /*color: rgb(10, 121, 142);*/
/*  color: ;*/
}
#githubIcon { width: 51px; }
#twitterIcon { width: 51px; padding: 0 .25em; }
#linkedInIcon { width: 51px; }
#tumblrIcon { width: 48px; border-radius: 5px; margin-left: 3px; margin-bottom: 1px;}
#documentIcon { width: 55px; }
#documentIcon img { margin-top: -25em; }
#emailIcon { width: 55px; }

/*social icons*/
#iconDiv {
  /*background-color: rgba(162, 162, 162, 0.60);*/
  background-color: rgba(89, 89, 89, 0.60);
  border-bottom: 3px solid rgb(21, 22, 18);
}
.icons {
  margin: 0 0 0 0;
}
.arrowUp {
  width: 50px;
  margin-bottom: -1em;
  padding-left: 1em;
}
.arrowDown {
  width: 50px;
  margin-bottom: -1em;
  margin-left: -1em;
}

/*********about me section*********/
#aboutMeTitle {
  border-bottom: 5px solid #aaa;
  background-color: rgba(222, 222, 222, 0.60);
}
#h5AboutMe {
  font-weight: 700;
  color: black;
  padding: .25em 0 0 .25em;
}
.divAboutMe {
  background-color: rgba(22, 62, 51, 0.60);
  color: #eee;
  letter-spacing: .5px;
  padding: 1em;
  border: 4px solid rgb(21, 22, 18);
}

/*********code projects section*********/
#h5Projects {
  font-weight: 700;
  color: black;
  padding: .25em 0 0 .25em;
}
.projects {
  border-bottom: 5px solid #aaa;
  background-color: rgba(222, 222, 222, 0.60);
}
.divProjects {
  /*height is styled in queries*/
  background-color: rgb(240, 240, 240);
  color: rgb(10, 10, 10);
  margin-top: 1%;
  border: 5px solid rgb(21, 22, 18);
  padding: 1rem;
  overflow: auto;
}
 
#rowProjects h3 {
  background-color: rgb(245, 245, 245);
}

#rowProjects p {
  background-color: rgb(245, 245, 245);
}

.divProjects img {
  width: 100%;
}

#header h5 {
  padding: .5em 0 .5em .25em;
}

/*********nasa section*********/
#nasaFun {
  border-bottom: 5px solid #aaa;
  background-color: rgba(222, 222, 222, 0.60);
}
#h5FunStuff {
  font-weight: 700;
  color: black;
  padding: .25em 0 0 .25em;
}
#rowNasa {
  background-color: rgba(89, 89, 89, 0.60);
  color: white;
  border: 5px solid rgb(21, 22, 18);
  padding: 1rem;
}

#nasaApi {
  border-right: 1px solid #ddd;
  padding-right: 2rem;
}

#whyNasa {
  background-color: rgb(230, 230, 230);
  color: black;
  padding: 1rem;
  /*border: 15px solid rgba(0, 0, 10, 0.90);*/
}

#footer {
  background-color: black;
  color: white;
  letter-spacing: 1px;
  padding: .5em;
  font-size: .75em;
}
#myImageFooter {
  background-color: black;
}
#imageMe {
  width: 115px;
  border-radius: 50%;
}
#footer ul {
  /*width: 10%;*/
}
#footer li {
  display: inline;
  padding: 1em;
}
#footer a {
  /*color: white;*/
}
#homeIcon {
  width: 45px;
}