/*#psdHeader {
  background-color: rgba(45, 45, 45, 0.90);
  border-bottom: 18px solid #aaa;
  padding: .25em;
}
#psdHeader h5 {
  margin-left: 1.4rem;
  letter-spacing: .5px;
  margin-bottom: auto;
}*/